__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/

# IDEs and editors
.idea/
.vscode/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Cache
.pytest_cache/
.mypy_cache/
